body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Old Standard TT', serif;
    font-size: 2.2rem;
    flex:2;
    text-align: center;
    letter-spacing: .2rem;
}

nav{
    position: fixed;
    top: 0px;
    width: 100%;
}

#nav-top{
    display: flex;
    /* justify-content: space-around; */
    color: white;
    align-items: center;
}

#shipping{
    font-size: .8rem;
    width: 200px;
    flex:1;
    text-align: center;
}

#nav-icons{
    flex: 1;
    text-align: center;
}

#nav-search{
    display: inline;
}

i{
    color: white;
}